# Expo
.expo/
dist/
web-build/
.expo-shared/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Testing
coverage/
.nyc_output/

# Android
*.apk
*.ap_
*.aab
android/app/build/
android/.gradle/
android/captures/

# iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/

# Miscellaneous
*.class
*.lock
*.orig
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
